<footer>
    <div class="wrapper wrapper-large">
        <div class="footer-links">
            <div class="about">
                {% include navigation/logo.html %}
                <p>{{ site.description }}</p>
            </div>
            {% assign sites = site.data.navigation.footer.footer_links %}
            {% for item in sites %}
            <ul>
                <li><h4>{{ item.name }}</h4></li>
                {% for linkItem in item.links %}
                <li><a href="{{ site.main_url }}{{ linkItem.link }}">{{ linkItem.name }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
            <ul class="contact">
                <li><h4>Contact Us</h4></li>
                <li><a href="mailto:{{ site.footer.contact_us.email }}">{{ site.footer.contact_us.email }}</a></li>
                <li class="social">
                    <a class="twitter" href="https://twitter.com/{{ site.footer.social.twitter }}">{% include
                        svgs/social-icon.html icon="twitter" %}</a>
                    <a class="facebook" href="https://www.facebook.com/{{ site.footer.social.facebook }}">{% include
                        svgs/social-icon.html icon="facebook" %}</a>
                    <a class="google-plus" href="https://plus.google.com/+{{ site.footer.social.google }}">{% include
                        svgs/social-icon.html icon="google-plus" %}</a>
                    <a class="youtube" href="https://www.youtube.com/c/{{ site.footer.social.youtube }}">{% include
                        svgs/social-icon.html icon="youtube" %}</a>
                </li>
            </ul>

            <div class="filler"></div>
        </div>
    </div>

    <div class="legal-line">
        <p class="wrapper wrapper-large">
            &copy; {{ site.time | date: '%Y' }} {{ site.footer.copyright }} &bull;
            <a href="{{ site.main_url }}/terms/">Terms</a> &amp;
            <a href="{{ site.main_url }}/privacy/">Privacy</a>
        </p>
    </div>
</footer>
